
@{
    ViewBag.Title = "inventory";
}

<h2>inventory</h2>

<table id="Contentbg">
    <tr>
        <td class="gifcontainer">
            <img src="~/images/coffee_steam.gif" id="thegif" />
        </td>
        <td>
            <table>
                <tr>
                    <td>
                        <text>Pick a Product</text>
                    </td>
                    <td><select></select></td>
                </tr>
                <tr>
                    <td>
                        <label>Desired Value</label>
                        <input type="text" name="update">
                    </td>
                    <td><button>Update</button></td>
                </tr>
            </table>
        </td>
    </tr>

   </table>