
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Something's wrong</title>
</head>
<body>
    <table id="404notfound">
        <tr>
            <td>
                <img src="~/images/sad kb.png" alt="Mr. Kingbread" class="404mascot" height="20%"width="30%"/>
            </td>
        </tr>
        <tr>
            <td>
                <p>Oops! I've never been here. This place is unknown.. Let's take you <a href="~/Views/Home/Index.cshtml">&nbsp; Home</a></p>
                
            </td>
            
        </tr>
       
    </table>
    
</body>
</html>
