
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Something's wrong</title>
</head>
<body style="background-color:#6f4e37;font-family:'Lucida Calligraphy',sans-serif">
    <table id="404notfound" style="margin-left:20vw;margin-top:20vh;margin-right:20vw">
        <tr>
            <td>
                <center><img src="~/images/mascot.png" alt="Mr. Kingbread" class="404mascot" height="200" width="150" /></center>
            </td>
        </tr>
        <tr>
            <td style="text-align:center">
                <p style="color:blanchedalmond">Oops! I've never been here.</p>
                <p style="color:blanchedalmond">This place is unknown.. Let's take you  <a href="~/Views/Home/Index.cshtml" style="color:blanchedalmond;font-weight:bold;font-size:3vw"> Home</a></p>
                
            </td>
            
            
        </tr>
       
    </table>
    
</body>
</html>
