@{
    ViewBag.Title = "About";
}
<!--<h2>@ViewBag.Title.</h2>-->


<table id="newContentbg">
    <tr>
        <td>
            <img src="~/images/coffee_steam.gif" id="thegif" />
        </td>
        <td >
            <table id="addressbg">
                <tr>
                    <td colspan="2"><h3>Brewing 365 days a year!</h3></td>

                </tr>
<tr >
<td >

<pre>
<img class="aboutlogos" src="~/images/justcup.png" /><strong> EL Paso, TX</strong>
<address>
2nd floor-Ricardo mall
Westburry Dr,
El Paso, TX - 77221
</address>
</pre>
</td>
<td>
<pre>
<img class="aboutlogos" src="~/images/justcup.png" /><strong> College Station, TX</strong>
<address>
 2251 University Dr,
1st shop,
College Station, TX - 77801
 </address>
</pre>
</td>
</tr>
<tr>
<td>
<pre>
<img class="aboutlogos" src="~/images/justcup.png" /><strong>Dallas, TX</strong>
<address>
5353 Mond Ave,
Dallas, TX - 77527
</address>
</pre>

</td>

<td>

<pre>
<img class="aboutlogos" src="~/images/justcup.png" /><strong>Austin, TX</strong>
<address>
3343 Rainey St
Austin, TX - 73456
</address>
</pre>

                    </td>

                </tr>

            </table>
        </td>
    </tr>
</td>
</table>
