
@{
    ViewBag.Title = "CheckoutPage";
}

@using (Html.BeginForm("Contact", "Home", FormMethod.Post))

{
    <table id="newContentbg">
        <tr>
            <td class="gifcontainer">
                <img src="~/images/coffee_steam.gif" id="thegif" />
            </td>

            <td>
                <table id="orderitems">
                    <tr>
                        <p>ViewBag.orders[1].product_name</p>
                        <td class="index_text">
                            <h2>Your order</h2>
                        </td>
                    </tr>
                    @for (int i = 1; i <= (int)Session["order_items"]; i++)
                    {
                        <tr>
                            <td>
                                <img src="~/images/black coffee.png" height="20px" width="20px" />
                                <text>@Session["order__" + i + "__product_name"]</text>
                            </td>
                            <td>
                                <text>@Session["order__" + i + "__drink_size"]</text>
                            </td>
                            <td>
                                <p id="money">$5</p>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td id="orderButton"><button>Continue Shopping</button></td>
                    </tr>
                </table>

            </td>

    </table>

}
@using (Html.BeginForm("Checkout", "Home", FormMethod.Post))
{

    <input type="submit" name="checkout" value="Proceed to Pay" />

}