@{
    ViewBag.Title = "CheckoutPage";
}

    <table id="newContentbg">
        <tr>
            <!--the steaming cup of coffee-->
            <td class="gifcontainer">
                <img src="~/images/coffee_steam.gif" id="thegif" />
            </td>

            <td>
                <table id="orderitems">
                    <tr>
                        <td class="index_text">
                            <h2>Your order</h2>
                        </td>
                    </tr>
                    <!--populates the checkout table-->
                    @for (int i = 1; i <= (int)Session["order_items"]; i++)
                    {
                    <tr>
                        <td>
                            <img src="~/images/black coffee.png" height="20px" width="20px" />
                            <text>@Session["order__" + i + "__product_name"]</text>
                        </td>
                        <td>
                            <text class="orderDetail">@Session["order__" + i + "__drink_size"]</text>
                        </td>
                        <!--shows how much money per size-->
                        @if ((string)@Session["order__" + i + "__drink_size"] == "Small")
                        {
                            <td>
                                <p class="orderDetail" id="money">$5</p>
                            </td>
                        }
                        @if ((string)@Session["order__" + i + "__drink_size"] == "Medium")
                        {
                            <td>
                                <p class="orderDetail" id="money">$6</p>
                            </td>
                        }
                        @if ((string)@Session["order__" + i + "__drink_size"] == "Large")
                        {
                            <td>
                                <p class="orderDetail" id="money">$7</p>
                            </td>
                        }
                        @if ((string)@Session["order__" + i + "__drink_size"] == "")
                        {
                            <td>
                                <p class="orderDetail" id="money">$5</p>
                            </td>
                        }
                    </tr>
                    }
                        <tr>
                            @*Call Order action on button click to return to Order page*@
                            @using (Html.BeginForm("Contact", "Home", FormMethod.Post))

                            {
                                <td id="orderButton"><button>Continue Shopping</button></td>
                            }
                            @*Call Checkout action on button click to update order in DB*@
                            @using (Html.BeginForm("Checkout", "Home", FormMethod.Post))
                            {
                                <td>
                                        <input type="submit" name="checkout" value="Proceed to Pay" />
                            
                                </td>
                            }
                            </tr>
                </table>
            </td>
    </table>


