
@{
    ViewBag.Title = "CheckoutPage";
}

<h2>CheckoutPage</h2>

<table id="Contentbg">
    <tr>
        <td class="gifcontainer">
            <img src="~/images/coffee_steam.gif" id="thegif" />
        </td>

        <td>
            <table id="addressbg">
                <tr>

                    <td class="index_text">
                        <h2>Your order</h2>
                        
                    </td>
                    <td><img src="~/images/mascot.png" alt="Mr. Kingbread" class="mascot" /></td>

                </tr>
                <tr>
                    <td class="index_text">
                        <h2>Variety at Cuppa</h2>
                        We at Cuppa coffee have always focused on serving a wide customer group. From the teens to the greats,
                        you'll find taste and quality in all our handcrafted beverages. Not to mention, our food is also excellent.
                    </td>
                </tr>
            </table>

        </td>

</table>