@{
    ViewBag.Title = "Home Page";
}
<table id="Contentbg">
    <tr>
        <!--Steaming cup of coffee-->
        <td class="gifcontainer">
            <img src="~/images/coffee_steam.gif" id="thegif" />
        </td>

        <td>
            <!--background-->
            <table id="addressbg">
                <tr>
                    <!--greeting text-->
                    <td class="index_text">
                        <h2>Our Origins</h2>
                        Hey there! I'm Mr. Kingbread, a pastry. You can call me Mr. Kingbread.<br />
                        We'll, I'm not sure how I landed here, but I was once walking by this
                        great smelling cafe called Cuppa Coffee in the winter of 1987.
                        I stopped by to have a cuppa and as soon as the barista saw my cute face,
                        he offered me to represent his cafe. Ofcourse, things have been great so far.
                        Cuppa Coffee is a family owned coffee shop in College Station/Bryan established
                        in the same year as I was hired. It is known for its quality coffee and cozy
                        ambiance. Cuppa Coffee, affectionately called Cuppa Cuppa by the locals, draws
                        all sorts of people ranging from college students to business professionals to
                        residents of the area.
                    </td>
                    <!--mascot-->
                    <td><img src="~/images/mascot.png" alt="Mr. Kingbread" class="mascot" /></td>

                </tr>
                <tr>
                    <td class="index_text">
                        <h2>Variety at Cuppa</h2>
                        We at Cuppa coffee have always focused on serving a wide customer group. From the teens to the greats,
                        you'll find taste and quality in all our handcrafted beverages. Not to mention, our food is also excellent.
                    </td>
                </tr>
            </table>

        </td>

</table>
<!--mascot that's hidden in the desktop but visible in mobile-->
<img src="~/images/mascot.png" alt="Mr. Kingbread" class="mascotmobile" />
