
@{
    ViewBag.Title = "UserPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class=" container myaccountouter">
    <br />
    <br />
    <form class="myaccount">
        <h2>My Account</h2>
        <div class="row">
            <div>
                <label for="fname">First Name</label>
            </div>
            <div>
                <!--<input type="text" id="fname" readonly="readonly" name="firstname" placeholder="Your name.."> -->
                @if (Session["LoggedUserFirstName"] != null)
                {
                    <text>
                        @Session["LoggedUserFirstName"].ToString()
                    </text>
                }
            </div>
        </div>
        <div class="row">
            <div>
                <label for="lname">Last Name</label>
            </div>
            <div>
                <!-- <input type="text" id="lname" name="lastname" readonly="readonly" placeholder="Your last name.."> -->
                @if (Session["LoggedUserLastName"] != null)
                {
                    <text>
                        @Session["LoggedUserLastName"].ToString()
                    </text>
                }
            </div>
        </div>
        <div class="row">
            <div>
                <label for="lname">Email Address</label>
            </div>
            <div>
                <!-- <input type="text" id="EmailID" name="emailAddress" readonly="readonly" placeholder="Your email address.."> -->
                @if (Session["LoggedUserID"] != null)
                {
                    <text>
                        @Session["LoggedUserID"].ToString()
                    </text>
                }
            </div>
        </div>
        <div class="row">
            <div>
                <label for="lname">Phone Number</label>
            </div>
            <div>
                <!-- <input type="text" id="phoneNumber" name="phoneNumber" readonly="readonly" placeholder="Your phone number.."> -->
                @if (Session["LoggedUserPhoneNumber"] != null)
                {
                    <text>
                        @Session["LoggedUserPhoneNumber"].ToString()
                    </text>
                }
            </div>
        </div>
        <img src="~/images/mascot.png" />
    </form>

    <br />
    <br />
</div>
