@{
    ViewBag.Title = "UserPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--the outer page formatting-->
<div class=" container myaccountouter">
    <br />
    <br />
    <!--the form formatting-->
    <form class="myaccount">
        <h2>My Account</h2>
        <div class="row">
            <div>
                <label for="fname">First Name</label>
            </div>
            <div class="responsetext">
                <!--code to pull the user's first name from the database-->
                @if (Session["LoggedUserFirstName"] != null) //print FirstName of LoggedIn User
                {
                    <text>
                        @Session["LoggedUserFirstName"].ToString()
                    </text>
                }
            </div>
        </div>
        <div class="row">
            <div>
                <label for="lname">Last Name</label>
            </div>
            <div class="responsetext">
                <!--code to pull the user's last name from the database-->
                @if (Session["LoggedUserLastName"] != null) //print LastName of LoggedIn User
                {
                    <text>
                        @Session["LoggedUserLastName"].ToString()
                    </text>
                }
            </div>
        </div>
        <div class="row">
            <div>
                <label for="lname">Email Address</label>
            </div>
             <!--code to pull the user's email address from the database-->
            <div class="responsetext">
                @if (Session["LoggedUserID"] != null) //print EmailID of LoggedIn User
                {
                    <text>
                        @Session["LoggedUserID"].ToString()
                    </text>
                }
            </div>
        </div>
        <div class="row">
            <div>
                <label for="lname">Rewards</label>
            </div>
            <!--code to pull the user's rewards points from the database-->
            <div class="responsetext">
                @if (Session["LoggedUserRewards"] != null) //print Rewards of LoggedIn User
                {
                    <text>
                        @Session["LoggedUserRewards"]
                    </text>
                }
            </div>
        </div>
        <img id="userpageImage" src="~/images/mascot.png" />
    </form>
    <br />
    <br />
</div>
